@page
@model PizzaApp.Pages.PizzaModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Check our great varieties of food </h1>
        <h4>Choose One, or make food by our food Builder! Then Order!</h4>
        <h4>Your details is not needed</h4>
        <h4>We have everything with us</h4>
        <p class="smallText"><i>Only one food item per order.</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5 rounded">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4 pizza-img2">
                        <a asp-area="" asp-page="Forms/CustomPizza">
                            <img src="~/images/Pizzas/Create.png" class="w-100" />
                        </a>
                    </div>
                    <div class="col-8 align-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align: left;">Create your own Food</h3>
                            <p style="text-align: left;">Make your food with our FoodMaker</p>
                            <a class="btn btn-outline-info" style="float: left;" asp-area="" asp-page="Forms/CustomPizza">
                            Get Your Food now!</a>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var pizza in Model.temPizzaDB)

            {
                @*for the image*@
                var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");
        <div class="col-4 mb-5">
            @*<img src="@imagePath" class="w-100 rounded"  asp-append-version="true" />*@
            @*<a class="btn  btn-outline-primary mt-5"
        asp-area=""
        asp-page="Checkout/Checkout"
        asp-route-ImageTitle="@pizza.ImageTitle"
        asp-route-PizzaPrice="@pizza.FinalPrice">Get this Pizza</a>*@

            <a class="pizza-img"
               asp-area=""
               asp-page="Checkout/Checkout"
               asp-route-ImageTitle="@pizza.ImageTitle"
               asp-route-PizzaPrice="@pizza.FinalPrice">
                <img src="@imagePath" class="w-100 rounded" asp-append-version="true" />
            </a>
            <br />
        </div>
            }
        </div>
    </div>
 </div>